<launch>
	<!-- Configurable arguments -->
    <arg name="robot_name" default="girona500"/>

	<!-- Load robot description -->
    <include file="$(find stonefish_ros)/launch/girona500_eca_description.launch">
    	<arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Load robot simulation -->
    <include file="$(find stonefish_ros)/launch/girona500_iauv_simulator.launch"/>
</launch>
