<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="girona500"/>
  <arg name="manipulator_name" default="eca_5emicro_manipulator"/>
  <arg name="xacro_file" default="$(find stonefish_ros)/data/urdf/girona500_eca.urdf.xarco"/>

  <!-- Robot description -->
  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro --inorder '$(arg xacro_file)' robot_namespace:=$(arg robot_name) manipulator_namespace:=$(arg manipulator_name)"/>
  
  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <remap from="joint_states" to="$(arg robot_name)/$(arg manipulator_name)/joint_states"/>
    <remap from="robot_description" to="$(arg robot_name)/robot_description"/>
  </node>
</launch>